.wpcf7-form {
    p {
        color: white;
    }
    label {
        width: 100%;
    }
    input:not(.wpcf7-submit),
    textarea {
        width: 100%;
        border-radius: 5px;
        padding-left: 30px;
        padding: 5px;
        border: none;
        outline: none;
        color: $primary;
        &:focus {
            box-shadow: 4px 5px 20px black;
            transition: box-shadow 0.3s ease-in-out;
        }
        &:active {
            border: 1px solid $primary;
        }
    }
    .wpcf7-submit {
        @extend .btn;
        @extend .btn-success;
    }
}