.front-page-section {
    &:not(#front-page-header) {
        padding-top: calc(20px + 5vh);
        padding-bottom: 20px;
    }
    &:nth-child(even):not(#front-page-header) {
        position: relative;
        .section-content {
            position: relative;
        }
    }
    .row {
        @media screen and (max-width: 525px) {
            padding: 0em 1.5em;
        }
    }
    .right-section {
        position: relative;
    }
    .bottom-flex-container {
        @media screen and (min-width: 525px) {
            position: absolute;
            bottom: 0;
            left: 0;
        }
        width: inherit;
    }
}

#front-page-header {
    max-height: 90vh;
    height: 520px;
}