.parallax-background {
    width: 100%;
    height: 100%;
    @media screen and (min-width: 568px){
        background-attachment: fixed;
        background-size: cover;
    }
    background-repeat: no-repeat;
   &:not(#about-page) {background-position: center;}

    .section, section{
        background-color: rgba(0,0,0,0.5);
    }
}

#about-page {
    &.parallax-background:before {
        @media screen and (min-width: 778px) {
            background-size: contain;
        }
        background-size: cover;
        background-image: url("../graphics/crossfade-3-w.jpeg");
    }
}