.parallax-background {
    width: inherit;
    height: inherit;
    background: rgba(0, 0, 0, 0.45);
    &:before {
        content: '';
        background-size: cover;
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;
    }
    &.hero-original {
        &:before {
            background-image: url('../graphics/hero-original.jpg');
        }
    }
    &.about-img {
        &:before {
            background-image: url('../graphics/about-img.jpg');
        }
    }
}

#about-page {
    &.parallax-background:before {
        background-image: url("../graphics/crossfade-3-w.jpeg");
    }
}