#portfolio {
    overflow-x: hidden;
    .portfolio-container {
        height: 100%;
    }
    .front-page-portfolio-item {
        .card-footer {
            display: block;
        }
        @media screen and (min-width: 776px) {
            width: 30vw;
        }
    }
    .portfolio-item {
        height: 100%;
        display: block;
    }
    .project {
        .card-image {
            height: 100%;
            background-size: contain;
        }
    }
    .slick-slide {
        width: 160px;
        cursor: pointer;
        @media screen and (max-width: 460px) {
            width: 100vw;
        }
        transition: width .5s;
        &.slick-current,
        &:hover {
            @media screen and (min-width: 460px) {
                width: 70vw;
            }
            @media screen and (min-width: 768px) {
                width: 80vw;
            }
            .card-image {
                background-size: cover;
            }
            .card-footer {
                display: block;
                width: 100%;
                z-index: 1;
            }
        }
    }
    .portfolio-carousel {
        width: calc(100% + 30px);
        position: relative;
        left: -15px;
        overflow: hidden;
    }
    .card {
        height: 340px;
        border: none;
        &-body,
        &-image {
            height: 100%;
        }
        .card-overlay {
            opacity: 1;
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.3);
            left: 0;
            top: 0;
            z-index: -1;
        }
        .card-title {
            @extend .display-4;
            font-size: 28px !important;
            text-align: left;
        }
        .card-footer {
            @media screen and (min-width: 460px) {
                display: none;
            }
            position: absolute;
            width: 0;
            left: 0;
            bottom: 0px;
            background-color: $dark;
            border-bottom: 2px solid white;
            text-align: center;
            display: block;
            width: 100%;
            z-index: 1;
        }
        .project-color-overlay {
            opacity: 1;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: 1;
        }
        .card-image {
            background-size: cover;
            background-position: top left;
            background-repeat: no-repeat;
            background-color: $gray-800;
            background-blend-mode: luminosity;
            transition: background-blend-mode 1s ease-in;
            transition: background-position 1s ease-in;
            &:hover {
                background-blend-mode: normal;
                background-position: top center;
            }
        }
    }
    .slick-prev {
        left: 0;
    }
    .slick-next {
        right: 0;
    }
    .slick-next,
    .slick-prev {
        z-index: 1;
        &::before {
            font-size: 40px;
        }
        width: 40px;
        height: 40px;
    }
}

.project-link {
    white-space: normal;
}

.project-image {
    width: 85%;
    margin: 0 auto;
    display: flex;
    min-width: 150px;
    padding: 20px 0;
}

.tech-terms {
    &.single-project {
        .stack-logo {
            font-size: 40px;
            padding: 12px;
        }
    }
    .stack-logo {
        padding: 5px;
        border: 1px solid #efefef;
        border-radius: 100%;
        margin: 0px 5px;
        i {
            color: #efefef;
            padding: 3px;
        }
    }
}

.built-with {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    color: white;
    float: left;
    font-size: 14px;
}

.single-project {
    .stack-logo.adobe-creative-suite {
        color: #6a737b !important;
        background: #ff0000;
        border: 1px solid #6a737b;
    }
    .stack-logo.javascript {
        i {
            color: black !important;
        }
        border: 1px solid black;
        background: #f7df1e;
    }
    .stack-logo.grunt {
        i {
            color: #463014 !important;
        }
        background: #fba919;
        border: 1px solid #463014;
    }
    .stack-logo.wordpress {
        i {
            color: white !important;
        }
        background: #21759b;
        border: 1px solid white;
    }
    .stack-logo.css3 {
        i {
            color: white !important;
        }
        background: #347dc6;
        border: 1px solid white;
    }
    .stack-logo.google-cloud-platform {
        i {
            color: #ea4335;
        }
        background: white;
        border: 1px solid #4285f4;
    }
    .stack-logo.node {
        i {
            color: white;
        }
        background: #215732;
        border: 1px solid white;
    }
    .stack-logo.html5 {
        i {
            color: white;
        }
        background: #e34f26;
        border: 1px solid white;
    }
}