@import "bootstrap-overrides.scss";
/// Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";
// Mine
@import "category.scss";
@import "front-page.scss";
@import "contact.scss";
@import "mixins.scss";
@import "global.scss";
@import "sections.scss";
@import "navbar.scss";
@import "masthead.scss";
@import "footer.scss";
@import "portfolio.scss";
@import "parallax.scss";
@import "about.scss";
@import "social.scss";
@import "archives.scss";
@import "wp-overrides.scss";
.btn-xl {
    padding: 1em;
}

.btn-full {
    width: 100% !important
}

.bottom-right-header {
    float: left;
}

.rt-reading-time {
    color: lightgray;
    font-style: italic;
}

.single-masthead,
.page-masthead {
    .typed-box {
        display: inline-flex;
        &:not(#about &) {
            position: absolute;
        }
        bottom: 0;
        margin-bottom: 2em;
    }
    .typed-target {
        display: inline;
        margin: unset;
    }
    .typed-cursor {
        font-size: 2.3em;
        display: inline-flex;
    }
}