@import "bootstrap-overrides.scss";


/// Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

@import "category.scss";
@import "front-page.scss";
@import "portfolio.scss";

@import "contact.scss";

// Mine
@import "mixins.scss";
@import "global.scss";
@import "sections.scss";
@import "navbar.scss";
@import "masthead.scss";
@import "footer.scss";
@import "parallax.scss";
@import "about.scss";
@import "wp-overrides.scss";


.btn-xl{
  padding: 1em;
}

.btn-full{
  width: 100% !important
}


.bottom-right-header{
float: left;
}

.entry-title{
	    position: absolute;
    bottom: 1em;
}

